/* DEFAULT CLASSSES */
.separetor {
    width: 2px;
    height: 1.5rem;
    background-color: #b9b9b9;
    position: relative;
}

.single-item {
    height: 1.2rem;
    width: 1.2rem;
    aspect-ratio: 1;
}

img {
    width: 100%;
    height: auto;
}

.cursor-hover {
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: 0.2rem;
    color: var(--sub-font-color);
    font-size: var(--semi-normal-font);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-hover:hover {
    border-radius: 5px;
    border: 1px solid var(--font-color);
}

.gap-05 {
    display: flex;
    gap: 0.5rem;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.cross-text {
    text-decoration: line-through;
}

/* DEFAULT CLASSSES */

.dashboard-text-editor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    height: max-content;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: #f6f6f6;
    padding: 1rem;
}

.text-languages {
    width: 7rem;
}

.input-language {
    display: flex;
    width: 100%;
    height: inherit;
    color: var(--editor-font-color);
    padding: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid var(--dark);
}

.input-language option {
    color: var(--background-color);
}

.cursor-hover samp {
    color: var(--sub-font-color);
    font-size: var(--semi-normal-font);
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    font-size: 1.6rem;
    padding: 0.1rem;
}

.text-color-list {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 13rem;
    background-color: #f3efef;
    padding: 0.7rem;
    border-radius: 0.2rem;
    border: 1px solid var(--dark);
}

.text-color-list .colorli {
    width: 1rem;
    height: 1rem;
}

.text-color-list .colorli:hover {
    border: 1px solid var(--black);
}

/* COLOR LIST */
.text-color-list .transparent {
    background-color: transparent;
}

.text-color-list .green {
    background-color: green;
}

.text-color-list .blue {
    background-color: blue;
}

.text-color-list .red {
    background-color: red;
}

.text-color-list .yellow {
    background-color: yellow;
}

.text-color-list .white {
    background-color: white;
}

.text-color-list .black {
    background-color: black;
}

.text-color-list .magenta {
    background-color: magenta;
}

.text-color-list .brown {
    background-color: brown;
}

.text-color-list .yellowgreen {
    background-color: yellowgreen;
}

.text-color-list .antiquewhite {
    background-color: antiquewhite;
}

.text-color-list .aqua {
    background-color: aqua;
}

.text-color-list .aquamarine {
    background-color: aquamarine;
}

.text-color-list .azure {
    background-color: azure;
}

.text-color-list .beige {
    background-color: beige;
}

.text-color-list .bisque {
    background-color: bisque;
}

.text-color-list .blanchedalmond {
    background-color: blanchedalmond;
}

.text-color-list .blueviolet {
    background-color: blueviolet;
}

.text-color-list .cadetblue {
    background-color: cadetblue;
}

.text-color-list .cornflowerblue {
    background-color: cornflowerblue;
}

.text-color-list .darkblue {
    background-color: darkblue;
}

.text-color-list .darkslateblue {
    background-color: darkslateblue;
}

.text-color-list .aliceblue {
    background-color: aliceblue;
}

.text-color-list .royalblue {
    background-color: royalblue;
}

.text-color-list .slateblue {
    background-color: slateblue;
}

.text-color-list .burlywood {
    background-color: burlywood;
}

.text-color-list .chartreuse {
    background-color: chartreuse;
}

.text-color-list .chocolate {
    background-color: chocolate;
}

.text-color-list .coral {
    background-color: coral;
}

.text-color-list .cornsilk {
    background-color: cornsilk;
}

.text-color-list .crimson {
    background-color: crimson;
}

.text-color-list .cyan {
    background-color: cyan;
}

.text-color-list .darkcyan {
    background-color: darkcyan;
}


.text-color-list .darkgoldenrod {
    background-color: darkgoldenrod;
}

.text-color-list .darkgray {
    background-color: darkgray;
}

.text-color-list .darkgreen {
    background-color: darkgreen;
}

.text-color-list .darkgrey {
    background-color: darkgrey;
}

.text-color-list .darkkhaki {
    background-color: darkkhaki;
}

.text-color-list .darkmagenta {
    background-color: darkmagenta;
}

.text-color-list .darkolivegreen {
    background-color: darkolivegreen;
}

.text-color-list .darkorange {
    background-color: darkorange;
}

.text-color-list .darkorchid {
    background-color: darkorchid;
}

.text-color-list .darkred {
    background-color: darkred;
}

.text-color-list .darksalmon {
    background-color: darksalmon;
}

.text-color-list .darkseagreen {
    background-color: darkseagreen;
}

.text-color-list .darkturquoise {
    background-color: darkturquoise;
}

.text-color-list .darkslategrey {
    background-color: darkslategrey;
}

.text-color-list .darkviolet {
    background-color: darkviolet;
}

.text-color-list .firebrick {
    background-color: firebrick;
}

.text-color-list .floralwhite {
    background-color: floralwhite;
}

.text-color-list .forestgreen {
    background-color: forestgreen;
}

.text-color-list .fuchsia {
    background-color: fuchsia;
}

.text-color-list .gainsboro {
    background-color: gainsboro;
}

.text-color-list .ghostwhite {
    background-color: ghostwhite;
}

.text-color-list .gold {
    background-color: gold;
}

.text-color-list .goldenrod {
    background-color: goldenrod;
}

.text-color-list .gray {
    background-color: gray;
}

.text-color-list .greenyellow {
    background-color: greenyellow;
}

.text-color-list .honeydew {
    background-color: honeydew;
}

.text-color-list .hotpink {
    background-color: hotpink;
}

.text-color-list .indianred {
    background-color: indianred;
}

.text-color-list .indigo {
    background-color: indigo;
}

.text-color-list .khaki {
    background-color: khaki;
}

.text-color-list .lavender {
    background-color: lavender;
}

.text-color-list .lawngreen {
    background-color: lawngreen;
}

.text-color-list .lemonchiffon {
    background-color: lemonchiffon;
}

.text-color-list .lightcoral {
    background-color: lightcoral;
}

.text-color-list .lime {
    background-color: lime;
}

.text-color-list .limegreen {
    background-color: limegreen;
}

.text-color-list .linen {
    background-color: linen;
}

.text-color-list .lightgray {
    background-color: lightgray;
}

.text-color-list .lightgreen {
    background-color: lightgreen;
}

.text-color-list .lightgrey {
    background-color: lightgrey;
}

.text-color-list .lightsalmon {
    background-color: lightsalmon;
}

.text-color-list .lightseagreen {
    background-color: lightseagreen;
}

.text-color-list .lightslategrey {
    background-color: lightslategrey;
}

.text-color-list .maroon {
    background-color: maroon;
}

.text-color-list .mediumaquamarine {
    background-color: mediumaquamarine;
}

.text-color-list .mediumorchid {
    background-color: mediumorchid;
}

.text-color-list .mediumseagreen {
    background-color: mediumseagreen;
}

.text-color-list .mediumturquoise {
    background-color: mediumturquoise;
}

.text-color-list .navajowhite {
    background-color: navajowhite;
}

.text-color-list .navy {
    background-color: navy;
}

.text-color-list .olive {
    background-color: olive;
}

.text-color-list .pink {
    background-color: pink;
}

.text-color-list .palegreen {
    background-color: palegreen;
}

.text-color-list .palevioletred {
    background-color: palevioletred;
}

.text-color-list .peru {
    background-color: peru;
}

.text-color-list .purple {
    background-color: purple;
}

.text-color-list .rebeccapurple {
    background-color: rebeccapurple;
}

.text-color-list .rosybrown {
    background-color: rosybrown;
}

.text-color-list .saddlebrown {
    background-color: saddlebrown;
}

.text-color-list .salmon {
    background-color: salmon;
}

.text-color-list .sandybrown {
    background-color: sandybrown;
}

.text-color-list .seagreen {
    background-color: seagreen;
}

.text-color-list .sienna {
    background-color: sienna;
}

.text-color-list .sienna {
    background-color: sienna;
}

.text-color-list .silver {
    background-color: silver;
}

.text-color-list .slategray {
    background-color: slategray;
}

.text-color-list .snow {
    background-color: snow;
}

.text-color-list .steelblue {
    background-color: steelblue;
}

.text-color-list .springgreen {
    background-color: springgreen;
}

.text-color-list .tan {
    background-color: tan;
}

.text-color-list .teal {
    background-color: teal;
}

.text-color-list .tomato {
    background-color: tomato;
}

.text-color-list .thistle {
    background-color: thistle;
}

.text-color-list .violet {
    background-color: violet;
}

.text-color-list .wheat {
    background-color: wheat;
}

.text-color-list .whitesmoke {
    background-color: whitesmoke;
}

.text-color-list .yellowgreen {
    background-color: yellowgreen;
}

.primary-color,
.secondary-color {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.primary-color .primary-color-title,
.secondary-color .secondary-color-title {
    font-size: var(--tiny-font);
    color: var(--background-color);
}

.primary-color .primary-color-list,
.secondary-color .secondary-color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.text-bg-class {
    width: 80% !important;
}