.res-col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.res-col-2 .res-col:nth-child(1) {
    flex-grow: 1;
<<<<<<< HEAD
=======
    flex-basis: 60%;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    padding-right: 0.5rem;
>>>>>>> 94e9b03e96f9d891fb7c01b0f33acab98b28ab82
}

.res-col-2 .res-col:nth-child(2) {
    flex-basis: 40%;
    flex-grow: 1;
<<<<<<< HEAD
=======
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    padding-right: 0.5rem;
>>>>>>> 94e9b03e96f9d891fb7c01b0f33acab98b28ab82
}


/* TAB CONTENTS */
.live-post-tabs {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    border-bottom: none;
}

.tab-item.active {
    border-top: 2px solid var(--font-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    background-color: var(--sub-div-color);


}

.tab-content {
    display: none;
}

.tab-content.active {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

.add-post-select-container {
    height: auto;
}

.single-item {
    width: 0.8rem;
    aspect-ratio: 1;
}

.select-category {
    gap: 0.2rem;
}

.select-category,
.select-sub-category {
    gap: 0.2rem;
}

/* TAB CONTAINER */
.live-post-tab-content .select-category:nth-child(n) {
    flex-basis: 10rem;
}

/* IFRAME CONTAINER */
.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    width: 100%;
}

<<<<<<< HEAD
.iframe-container h4 {
    text-align: center;
}

.iframe-container iframe {
    width: inherit;
    height: 35rem;
=======
.iframe-height-1 {
    height: 60vh;
}

.iframe-height-2 {
    height: 78vh;
}

.iframe-container h4 {
    text-align: center;
}
.iframe-container dd {
    width: inherit;
    height: inherit;
}
.iframe-container iframe {
    width: inherit;
    height: inherit;
>>>>>>> 94e9b03e96f9d891fb7c01b0f33acab98b28ab82
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius: 0.5rem;
}

/* TEXT EDITOR NEW CSS */
.add-post-2-col {
    display: flex;
    flex-wrap: wrap;
}

.add-post-col-1 {
    width: 100%;
}

.add-post-title p,
.add-post-input-style p {
    font-size: var(--normal-font);
}

.add-post-title,
.add-post-input-style {
    gap: 0.2rem;
}

.flex-3col {
    align-items: flex-start;
    width: 100%;
}

.outer-tags p:first-child {
    font-size: var(--semi-small-font);
}

.latest-tag-list p:first-child {
    font-size: var(--semi-small-font);
}


/* thumbnail  */

.thumb-preview,
.thumb-caption {
<<<<<<< HEAD
  display: none; /* Initially hide the preview and caption sections */
=======
    display: none;
}


/* SCROLL BAR DESIGN */
.res-col-2 .res-col::-webkit-scrollbar,
.iframe-container dd::-webkit-scrollbar {
    width: 0.5rem;
}

.res-col-2 .res-col::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}

/* WEBSITE IFRAME SCROLLBAR */
.iframe-container dd::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
>>>>>>> 94e9b03e96f9d891fb7c01b0f33acab98b28ab82
}